h1 {
    text-align: center;
    border-style: double;
    background-color: khaki;

}
body {
    background-color: khaki;
    border-style: dashed;
    border-style: dashed;
}

h2{
    text-align: center;
}